.mat-stepper-horizontal {
    margin-top: 8px;
  }
  
  .mat-mdc-form-field {
    margin-top: 16px;
  }

  .box{
    display: flex;
    padding-left: 200px;
    padding-right: 200px;
    flex-direction: column;
  }

  /* .page1 {
    background-color: #eb3a3a;
  } */
  
  h2 {
    margin: 0px;
    padding: 0px;
  }
  
  .group1{
    padding-left: 0px;
    padding-right: 0px;
    gap: 50px;
    display: flex;
    /* justify-content: space-between;
    display: flex; */
  }

/*
  .mat-form-field .mat-input-element {
  
    background-color: #ab2020; 
    color: #12458d; 
    padding: 10px; 
  }
  */