<!DOCTYPE html>
<html lang="en">

<!-- <button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
    {{!isLinear ? 'Enable linear mode' : 'Disable linear mode'}}
  </button>
  <mat-stepper [linear]="isLinear" #stepper>
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Fill out your name</ng-template>
        <mat-form-field>
          <mat-label>Name</mat-label>
          <input matInput placeholder="Last name, First name" formControlName="firstCtrl" required>
        </mat-form-field>
        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup" label="Fill out your address">
      <form [formGroup]="secondFormGroup">
        <mat-form-field>
          <mat-label>Address</mat-label>
          <input matInput formControlName="secondCtrl" placeholder="Ex. 1 Main St, New York, NY"
                 required>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <p>You are now done.</p>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
      </div>
    </mat-step>
  </mat-stepper>
   -->

<body>
  <div class="box"> <!-- Parent -->
    <h1>Registration Form</h1>

    <div class="page1"><!--div 1-->
      <mat-stepper> <!--Page 1-->
        <mat-step>
          <!-- <ng-template matStepLabel>Content 1</ng-template> -->
          <h1>Personal</h1>
          <p>Applicant Information</p>
          <div><!--div 2-->
            <h2> Enter full name</h2>
            <div class="group1">
            <mat-form-field appearance="outline">
              <mat-label>First name</mat-label>
              <input matInput placeholder="Type here" required>
              <!-- <mat-hint>Enter your first name here</mat-hint> -->
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Middle name</mat-label>
              <input matInput placeholder="Type here">
              <!-- <mat-hint>Enter your middle name here</mat-hint> -->
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Last name</mat-label>
              <input matInput placeholder="Type here" required>
              <!-- <mat-hint>Enter your last name here</mat-hint> -->
            </mat-form-field>
          </div>
          </div> <!--div 2 close-->
          <div><!-- div 3 -->
            <h2>Father's name</h2>
            <div class="group1">
            <mat-form-field appearance="outline">
              <mat-label>First name</mat-label>
              <input matInput placeholder="Type here" required>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Middle name</mat-label>
              <input matInput placeholder="Type here" required>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Last name</mat-label>
              <input matInput placeholder="Type here" required>
            </mat-form-field>
          </div>
          </div> <!--div 3 close-->
          <div>
            <h2>Date of Birth</h2>
            <div>
            <mat-form-field appearance="outline">
              <mat-label>Choose a date</mat-label>
              <input matInput [matDatepicker]="picker">
              <mat-hint>MM/DD/YYYY</mat-hint>
              <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            
          </div>
        </div>
          <button mat-button matStepperNext>Next</button>
        </mat-step>

        <mat-step> <!--Page 2-->
          <ng-template matStepLabel>Content 2</ng-template>
          <p>Content on 2</p>
          <button mat-button matStepperNext>Next</button>
          <button mat-button matStepperPrevious>Previous</button>
        </mat-step>

        <mat-step> <!--Page 3-->
          <ng-template matStepLabel>Content 3</ng-template>
          <p>Content on 1</p>
          <div class="form-section">
            <h2>Declaration and Submission</h2>
            <form action="register-education" method="post">
              <div class="declare">
                <input type="checkbox" id="checkbox" name="checkbox" />
                <p>
                  I declare that all the information given here is true and complete to
                  the best of my knowledge.I understand that false or misleading
                  information may result in my rejection of the application.
                </p>
              </div>
        
              <div class="main-input">
                <div class="sub-input">
                  <label for="Signiture">Student's Signiture</label><br />
                  <input
                    type="text"
                    id="signiture"
                    name="signiture"
                    placeholder="Type full name to sign"
                    required
                  />
                </div>
                <div class="sub-input">
                  <label for="Signiture">Parent/Guardian Signiture</label><br />
                  <input
                    type="text"
                    id="parent-signiture"
                    name="parent-signiture"
                    placeholder="Type full name to sign"
                    required
                  />
                </div>
              </div>
        
              <label for="date">Date</label><br />
              <input type="date" id="date" name="date" placeholder="date" required />
        
              <div class="enclosures">
                <p>ENCLOSURES</p>
                <ul>
                  <li>Passport size photo</li>
                  <li>Copy of Adhar Card</li>
                  <li>Copy of photo ID proof</li>
                  <li>Copy of collage ID card</li>
                  <li>Original Certificate</li>
                  <li>Income Certificate</li>
                </ul>
              </div>
        
              <div class="next-btn">
                <a class="Previous" href="register-education">Previous</a>
                <a type="submit" class="btn" href="#">Submit Registration</a>
              </div>
            </form>
          </div>
        
        
        </mat-step>
      </mat-stepper>
    </div>
  </div>
</body>

</html>